.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.invalid {
    border: 1px solid red;
    background: rgb(220, 183, 183);
    
}

.input {
    /* border: none; */
    background: rgba(255, 255, 255, 0.10);
}