.navigation-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(63, 24, 82, 0.80);
}



.navigation-panel__logo {
    text-decoration: none;
    height: fit-content;
    display: block;
    width: fit-content;
}


.navigation-panel__logo-img:hover {
    path {
        stroke: var(--white-100);
        transition: .2s;
    }
}

.navigation-panel__menu {
    margin-left: auto;
 }

 .navigation-panel__menu-list {
    display: flex;
    gap: 16px;
    list-style: none;
 }