.header {
    margin-bottom: 16px;
    color: var(--grey-50);
    /* font-family: Poppins; */
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1.28px;
}